# Python Project stuff
/.venv/
__pycache__/

# Results

/raw_results.csv



# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc


# To not accidantily commit a crime by distributing semi legally gathered literature

literature/